---
import Logo from "./Logo.astro";
import { siteConfig } from "../content/siteConfig.ts";
---

<footer
  class="mt-16 border-t border-slate-200 dark:border-slate-700 pb-16 pt-24"
>
  <div class="grid grid-cols-2 gap-16 md:grid-cols-4">
    <div class="col-span-2 flex flex-col space-y-6">
      <Logo />
      <p class="text-slate-500 dark:text-slate-400 text-xl">
        {siteConfig.slogan}
      </p>
    </div>
    <div>
      <div class="text-lg font-semibold tracking-tight">
        {"General"}
      </div>
      <ul class="mt-4 flex flex-col gap-4">
        <li>
          <a href="/impressum" class="text-slate-500 dark:text-slate-400">
            {"Impressum"}
          </a>
        </li>
        <li>
          <a href="/datenschutz" class="text-slate-500 dark:text-slate-400">
            {"Datenschutz"}
          </a>
        </li>
        <li>
          <a
            href={siteConfig.links.github}
            class="text-slate-500 dark:text-slate-400"
          >
            {"GitHub"}
          </a>
        </li>
        <li>
          <a
            href={siteConfig.links.linkedin}
            class="text-slate-500 dark:text-slate-400"
          >
            {"LinkedIn"}
          </a>
        </li>
      </ul>
    </div>
    <div>
      <div class="text-lg font-semibold tracking-tight">
        {"Sitemap"}
      </div>
      <ul class="mt-4 flex flex-col gap-4">
        <li>
          <a href="/" class="text-slate-500 dark:text-slate-400">{"Home"}</a>
        </li>
        <li>
          <a href="/blog" class="text-slate-500 dark:text-slate-400">{"Blog"}</a
          >
        </li>
        <li>
          <a href="/about" class="text-slate-500 dark:text-slate-400"
            >{"About"}</a
          >
        </li>
        <li>
          <a
            href="/sitemap-index.xml"
            class="text-slate-500 dark:text-slate-400"
          >
            {"Sitemap"}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <p class="text-slate-500 mt-8 text-sm">
    {siteConfig.copyright}
  </p>
</footer>
