---
import { siteConfig } from "../content/siteConfig.ts";
import HexagonIcon from "../components/icons/hexagon.svg";
---

<a
  href="/"
  aria-label={siteConfig.name}
  class="mr-6 flex items-center space-x-2 rounded-md"
>
  <HexagonIcon class="size-10 text-pink-500 dark:text-pink-400" />
  <span class="text-2xl font-bold">
    {siteConfig.name}
  </span>
</a>
