---
import { siteConfig } from "../content/siteConfig.ts";
---

<a
  href="/"
  aria-label={siteConfig.name}
  class="mr-6 flex items-center space-x-2 rounded-md"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="48"
    height="48"
    viewBox="0 0 24 24"
    fill="none"
    stroke="oklch(65.6% 0.241 354.308)"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="size-10 text-pink-500 dark:text-pink-400"
  >
    <path
      d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"
    >
    </path>
  </svg>
  <span class="text-2xl font-bold">
    {siteConfig.name}
  </span>
</a>
