<div
  class="prose dark:prose-invert prose-slate prose-h1:font-bold prose-h1:text-xl prose-a:text-pink-500 dark:prose-a:text-pink-400 prose-a:no-underline prose-p:text-justify prose-img:rounded-md"
>
  <slot />
</div>
