---
import type { CollectionEntry } from "astro:content";
import Prose from "../components/Prose.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "./Layout.astro";

type Props = {
  frontmatter: CollectionEntry<"blog">["data"];
};

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <section class="flex flex-col max-w-4xl w-full gap-12">
    <header>
      <div
        class="mb-4 font-mono text-sm font-medium tracking-widest text-gray-500 uppercase"
      >
        <FormattedDate date={frontmatter.pubDate} />
      </div>
      <h1
        class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl"
      >
        {frontmatter.title}
      </h1>
    </header>
    <article class="mt-4">
      <Prose>
        <slot />
      </Prose>
    </article>
  </section>
</Layout>
